; As of v8.14.0, npm chokes on peerDependencies when installing multiple versions
; of a package alongside one another. In our case, we have react and react-dom versions
; 16, 17, and 18 all as devDependencies. With default strict peer dependencies, npm
; doesn't know that we want react-dom-16's peer dependency to be fulfilled by react-16.
; Opportunity for improvement: this could theoretically be fixed with a combination
; of overrides in package-lock.json, but I wasn't able to find the right combination.
legacy-peer-deps = true